:root {
  width: 100%;
  height: 100%;
  background: #eee;
  font-family: sans-serif;
}

body {
  max-width: 30em;
  height: 100%;
  background: white;
  margin: 0 auto;
  padding: 0 1rem;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body[data-state='base'] {
  --color-base: blue;
  --color-dark: #004;
  --color-bkg: linear-gradient(0.125turn, #AAE, #CCF);
  --button-text: 'Start';
}

body[data-state='waiting'] {
  --color-base: #EEE;
  --color-dark: #444;
  --color-bkg: linear-gradient(0.125turn, #CCC, #EEE);
  --button-text: '...';
}

body[data-state='running'] {
  --color-base: red;
  --color-dark: #400;
  --color-bkg: linear-gradient(0.125turn, #EAA, #FCC);
  --button-text: 'Stop!';
}

body[data-state="waiting"] {
  background: #EEE;
}

p {
  margin: 1rem 0;
}

#b {
  display: block;
  margin: 1rem auto;
  border: 2px solid var(--color-dark);
  border-radius: 1rem;
  background: var(--color-bkg);
  height: 5rem;
  width: 10rem;
  font-size: 200%;
  font-variant-caps: small-caps;
  color: var(--color-dark);
  outline: 0;
}

#b::after {
  content: var(--button-text);
}

button:focus {
  box-shadow: 0 0 10px var(--color-base);
}

button[disabled] {
  box-shadow: none;
}

.results {
  border: 1px solid #888;
  padding: .5rem;
  overflow-y: auto;
  flex: .5;
  margin: 1rem 0;
  font-family: monospace;
  white-space: pre;
}

.plus {
  color: blue;
}

.minus {
  color: red;
}

.spoton {
  color: green;
}

.settings {
  display: grid;
  grid: auto-flow / 160px 1fr 70px;
  column-gap: .5rem;
  margin-top: 1rem;
}

#iSound {
  vertical-align: top;
}

@media only screen and (max-width: 400px) {
  .settings {
    grid: auto-flow / 1fr 70px;
  }

  .settings input[type='range'] {
    grid-column: 1/2;
  }
}
